{$DOMAIN}:80 {
  reverse_proxy http://backend:3000
}

{$DOMAIN}:443 {
  tls internal
  reverse_proxy http://backend:3000
}

ru.{$DOMAIN}:80 {
  reverse_proxy http://backend:3000
}

ru.{$DOMAIN}:443 {
  tls internal
  reverse_proxy http://backend:3000
}
